<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>Pollution Reporter | Homepage</title>
	</head>
	<body>
		<div class="form-container">
			<h1>Pollution Reporter</h1>
			<p class="message">
				You can report polluted location using this form.
				<span>Both fields are required.</span>
			</p>
			<form action="/api" method="POST" enctype="multipart/form-data">
				<input
					type="text"
					name="location"
					placeholder="City, State"
					autocomplete="off"
					required
				/>
				<input type="file" name="photograph" required />
				<button>send report</button>
			</form>
		</div>
	</body>
</html>
